<h3>Certificate of Enrolment</h3>

<p>Well done <%= @student.first_name %> <%= @student.second_name %>, you have been enrolled at Hogwarts! </p>

<p>You are now a member of <%= @student.house %>, and you shall likely perish unless you are a major named character.</p>

<a href="/students">Back to All Students</a>
