<h2>Marauder's Map</h2>

<a href="/students/new">Add Wizard!</a>

<% @students.each do |student|  %>
<hr>
<p>First name: <%= student.first_name %></p>
<p>Second name: <%= student.second_name %></p>
<p>House: <%= student.house %></p>
<p>Age: <%= student.age %></p>
<% end %>
