<form action="/students" method="post">

  <label for="first-name-field">First Name:</label>
  <input type="text" name="first_name" id="first-name-field">
  <label for="second-name-field">Second Name:</label>
  <input type="text" name="second_name" id="second-name-field">
  <label for="house-select">Sorting Hat</label>
  <select id="house-select" name="house_id" required>
    <option value="">Select Your House</option>
    <option value="Gryffindor">Gryffindor</option>
    <option value="Slytherin">Slytherin</option>
    <option value="Ravenclaw">Ravenclaw</option>
    <option value="Hufflepuff">Hufflepuff</option>
  </select>
  <label for="age-field">Age:</label>
  <input type="number" name="age" id="age-field">
  <input type="submit" value="Create Wizard">

</form>
